@import "./Spinner.scss";
.downloads {
  display: flex;
  flex-direction: row;
  height: 92vh;
  .queue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 50rem;
    overflow-y: scroll;
    h1 {
      color: white;
    }
  }
  .downloading {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    h1 {
      color: rgb(243, 243, 245);
    }
  }
}
