#refreshBtn {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 1rem;
  margin-left: 2rem;
  position: absolute;
}

#refreshBtn:hover {
  background-color: salmon;
  color: white;
  cursor: pointer;
}

.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

@import "./Spinner.scss";
