#refreshBtn {
  margin-top: 1rem;
  float: right;
  margin-right: 1rem;
}

.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

@import "./Spinner.scss";
