#refreshBtn {
  margin-top: 1rem;
  margin-left: 2rem;
}

.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

@import "./Spinner.scss";
